<div class="row">
	<div class="columns large-3 ">
		<a href="" class=" toolBarBtn" ng-click="CvCtrl.toggleEditMode()"><i class="fa fa-file-pdf-o "></i></a>
	</div>	
	<div class="columns large-3 ">
		<a href="" class=" toolBarBtn" ng-click="CvCtrl.toggleEditMode()">btn2</a>
	</div>	
	<div class="columns large-3 ">
		<a href="" class=" toolBarBtn" ng-click="CvCtrl.toggleEditMode()">btn3</a>
	</div>	
	<div class="columns large-3 ">
		<a href="" class=" toolBarBtn" ng-click="CvCtrl.toggleEditMode()">btn4</a>
	</div>
</div>
